@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

body {
    background-color: rgb(41, 79, 136);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    perspective: 800px;
}